<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65075155169-umesvt01jem30eqgj9n99tfvgp0rttlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65075155169-umesvt01jem30eqgj9n99tfvgp0rttlq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>65075155169-96nnnq1uhp93tag5p3c1i6aku2ke1ea0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOub0pwPvLt1Gn_32Raj_9DtMI15OX7gk</string>
	<key>GCM_SENDER_ID</key>
	<string>65075155169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dzenUi</string>
	<key>PROJECT_ID</key>
	<string>dzen-backend-454a9</string>
	<key>STORAGE_BUCKET</key>
	<string>dzen-backend-454a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65075155169:ios:70c8f988b3eff41e1be7a0</string>
</dict>
</plist>